:root {
    /* Modo claro */
    --light-primary: #3d5a80;
    --light-secondary: #98c1d9;
    --light-background: #e0fbfc;
    --light-accent: #ee6c4d;
    --light-text: #293241;

    /* Modo oscuro */
    --dark-primary: #006466;
    --dark-secondary: #065a60;
    --dark-background: #0b525b;
    --dark-accent: #144552;
    --dark-text: #1b3a4b;
    --dark-surface: #212f45;
    --dark-surface-2: #272640;
    --dark-surface-3: #312244;
    --dark-surface-4: #3e1f47;
    --dark-surface-5: #4d194d;
}

/* Variables para modo claro */
[data-bs-theme="light"] {
    --primary-color: var(--light-primary);
    --secondary-color: var(--light-secondary);
    --background-color: var(--light-background);
    --accent-color: var(--light-accent);
    --text-color: var(--light-text);
    --surface-color: var(--light-background);
    --surface-color-2: var(--light-secondary);
    --surface-color-3: var(--light-primary);
}

/* Variables para modo oscuro */
[data-bs-theme="dark"] {
    --primary-color: var(--dark-primary);
    --secondary-color: var(--dark-secondary);
    --background-color: var(--dark-background);
    --accent-color: var(--dark-accent);
    --text-color: white;
    --surface-color: var(--dark-surface);
    --surface-color-2: var(--dark-surface-2);
    --surface-color-3: var(--dark-surface-3);
    --surface-color-4: var(--dark-surface-4);
    --surface-color-5: var(--dark-surface-5);
} 