.theme-toggle-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.5rem;
}

@media (max-width: 600px) {
  .theme-toggle-mobile {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.2rem;
  }
}

@media (max-width: 400px) {
  .theme-toggle-mobile {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.2rem 0 0.5rem 0;
    padding: 0 0 0 0.2rem;
    order: 2;
  }
  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-brand {
    width: 100%;
    margin-bottom: 0.2rem;
    order: 1;
  }
} 